<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel='icon' sizes="192x192" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">-->
    <title>Chat App</title>
</head>

<body>

    <form method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <button>Go to chat!</button>
    </form>

</body>

</html>